.mui_tit {
    position: relative;
    display: -webkit-box;
    -webkit-box-align: center;
    height: .3rem;
    margin: .2rem .16rem .1rem;
}

.mui_tit__text {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .18rem;
    font-weight: 700;
}

.mui_tit__more {
    position: absolute;
    top: .05rem;
    right: -.06rem;
    display: -webkit-box;
    -webkit-box-align: center;
    height: .2rem;
    font-size: 13px;
    font-weight: 300;
    &::after {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
    }
}

.mui_tit__arrow {
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    margin: -1px 4px 0 -3px;
    -webkit-transform: scale(.5) rotate(-45deg);
    opacity: .6;
    &::before {
        top: 0;
        right: 0;
        width: 3px;
        height: 11px;
        border-radius: 3px 3px 0 0;
    }
    &::after {
        bottom: 0;
        left: 0;
        width: 14px;
        height: 3px;
        border-radius: 3px 0 3px 3px;
    }
}

.mui_scroll.scroll_x {
    margin-top: -.1rem;
}

.mui_scroll {
    overflow: hidden;
}

.mui_scroll.scroll_x .mui_scroll__bd {
    margin-bottom: -.1rem;
    padding: .1rem 0;
    overflow-x: auto;
    overflow-y: hidden;
}

.mui_scroll__bd {
    -webkit-overflow-scrolling: touch;
}

.mui_list.horizontal {
    margin-right: 0;
    white-space: nowrap;
}

.mui_list {
    margin: 0 .12rem;
    font-size: 0;
}

.mui_list.horizontal .mui_list__item {
    margin-bottom: 0;
    width: auto;
}

.mui_list__item {
    vertical-align: top;
    display: inline-block;
    margin-bottom: .14rem;
    font-size: .12rem;
}

.mui_list.horizontal .mui_list__box {
    width: 1.09rem;
}

.mui_list__box {
    margin: 0 .04rem;
}

.mui_list__media {
    position: relative;
    &::after {
        content: "";
        display: block;
        padding-top: 100%;
    }
}

.mui_list__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .08rem;
}

.mui_cover_count {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    height: 17px;
    min-width: 14px;
    padding: 0 7px;
    border-radius: 9px;
    background: rgba(0, 0, 0, .4);
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        min-width: 40px;
        height: 40px;
    }
}

.mui_cover_count__icon {
    display: block;
    width: 10px;
    height: 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAQlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////8IX9KGAAAAFXRSTlMANKf2EQjsz8aUemg9LSMb29qrT07ELBLNAAAAUklEQVQY053QSQ6AIBBE0bYBxQFwqvtf1bgimkoY/vJtepCmLq/hb9YAmO0XB7yNK0Fg2ggCmgjCLC5jbo8EobV4xKpBmsjypTMde4jc/gzS1wMkNgsYmjY08wAAAABJRU5ErkJggg==);
    background-size: cover;
    background-repeat: no-repeat;
}

.mui_cover_count__num {
    display: block;
    margin-left: 2px;
    line-height: normal;
    font-size: 11px;
    font-weight: 300;
    color: #fff;
}

.mui_list.tit_wrap .mui_list__tit {
    max-height: .34rem;
}

.mui_list.desc_wrap .mui_list__desc,
.mui_list.tit_wrap .mui_list__tit {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;
}

.mui_list__tit {
    min-height: .17rem;
    margin-top: .08rem;
    line-height: .17rem;
    font-size: .13rem;
}

.mui_list__desc,
.mui_list__tit {
    display: block;
    line-height: .16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.zone_info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    border-radius: .08rem;
    background: rgba(0, 0, 0, .1);
}

.zone_info__bd {
    position: absolute;
    right: .06rem;
    bottom: .06rem;
    left: .06rem;
    display: -webkit-box;
    -webkit-box-align: center;
}

.zone_info__img {
    display: block;
    width: .34rem;
    height: .34rem;
    margin-right: .06rem;
    border-radius: 100%;
}

.zone_info__name {
    display: block;
    font-weight: 500;
    font-size: .16rem;
    color: #fff;
}

.mui_list.horizontal.video .mui_list__box {
    width: 2.26rem;
}

.mui_list.video .mui_list__media::after {
    padding-top: 56.25%;
}

.mui_tit__arrow::before {
    top: 0;
    right: 0;
    width: 3px;
    height: 11px;
    border-radius: 3px 3px 0 0;
}

.mui_tit__arrow::after,
.mui_tit__arrow::before {
    content: "";
    position: absolute;
    background: currentColor;
}

.mui_tit__arrow::after {
    bottom: 0;
    left: 0;
    width: 14px;
    height: 3px;
    border-radius: 3px 0 3px 3px;
}