.search_bar {
    display: -webkit-box;
    margin-top: .16rem;
    .search_bar__bd {
        position: relative;
        -webkit-box-flex: 1;
        height: .3rem;
        margin: 0 .16rem;
        overflow: hidden;
        border-radius: .3rem;
        .search_bar__icon {
            position: absolute;
            top: .06rem;
            left: 50%;
            width: .16rem;
            height: .18rem;
            margin-left: -.1rem;
            fill: currentColor;
            z-index: 1;
        }
        .search_bar__empty {
            position: absolute;
            top: 50%;
            right: 0;
            width: 80px;
            height: 60px;
            margin: -30px -20px 0 0;
            line-height: 999px;
            overflow: hidden;
            -webkit-transform: scale(.5);
            -webkit-transform-origin: center center;
            &::before {
                top: 15px;
                left: 38px;
                width: 3px;
                height: 30px;
            }
            &::after {
                top: 28px;
                left: 25px;
                width: 30px;
                height: 3px;
            }
        }
        .search_bar__empty::after,
        .search_bar__empty::before {
            content: "";
            position: absolute;
            border-radius: 3px;
            background: currentColor;
            opacity: .6;
            -webkit-transform: rotate(-45deg);
        }
        .search_bar__input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: .05rem;
            padding-bottom: .04rem;
            padding-left: .24rem;
            font-size: .13rem;
            text-align: center;
            border: none;
            border-radius: 0;
            background: 0 0;
            -webkit-appearance: none;
        }
    }
    .search_bar__cancel {
        display: none;
        height: .3rem;
        padding: 0 .16rem;
        line-height: .3rem;
        font-weight: 700;
        font-size: .14rem;
    }
}

.search_bar.focus .search_bar__bd {
    margin-right: 0;
}

.search_bar.focus .search_bar__icon {
    left: .06rem;
    margin-left: 0;
}

.search_bar.focus .search_bar__input {
    padding-left: .28rem;
    padding-right: .4rem;
    text-align: left;
}

.search_cont {
    .search_result {
        margin-top: .16rem;
        .mui_cell_list {
            overflow: hidden;
            .mui_cell_list__item.person .mui_cell_list__img {
                border-radius: 100%;
            }
            .mui_cell_list__item {
                display: block;
                position: relative;
                margin-bottom: .16rem;
                padding: 0 .16rem;
                .mui_cell_list__box {
                    display: -webkit-box;
                    -webkit-box-align: center;
                    min-height: .42rem;
                    .mui_cell_list__media {
                        position: relative;
                        width: .6rem;
                        height: .6rem;
                        margin-right: .1rem;
                        overflow: hidden;
                        .mui_cell_list__img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 1;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            // border-radius: .06rem;
                        }
                    }
                    .mui_cell_list__bd {
                        -webkit-box-flex: 1;
                        .mui_cell_list__tit {
                            line-height: .2rem;
                            font-size: .16rem;
                            font-weight: 400;
                        }
                        .mui_cell_list__desc {
                            margin-top: .06rem;
                            line-height: .16rem;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
    .hot_search {
        position: relative;
        overflow: hidden;
        .hot_search__tit {
            margin: .16rem .16rem .12rem;
            font-size: .14rem;
            font-weight: 700;
        }
        .hot_search__bd {
            margin: 0 .16rem;
            font-size: 0;
            .hot_search__item {
                vertical-align: top;
                display: inline-block;
                max-width: 2.12rem;
                height: .24rem;
                line-height: .24rem;
                margin: 0 .1rem .1rem 0;
                padding: 0 .1rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: .12rem;
                border-radius: .24rem;
            }
        }
        .hot_search__delete {
            position: absolute;
            top: .06rem;
            right: .04rem;
            width: .4rem;
            height: .4rem;
            .hot_search__icon_delete {
                display: block;
                width: .16rem;
                height: .16rem;
                margin: .12rem;
                fill: currentColor;
            }
        }
    }
    .hot_search_history {
        position: relative;
        overflow: hidden;
        .hot_search__tit {
            margin: .16rem .16rem .12rem;
            font-size: .14rem;
            font-weight: 700;
        }
        .hot_search__bd {
            margin: 0 .16rem;
            font-size: 0;
            .hot_search__item {
                vertical-align: top;
                display: inline-block;
                max-width: 2.12rem;
                height: .24rem;
                line-height: .24rem;
                margin: 0 .1rem .1rem 0;
                padding: 0 .1rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: .12rem;
                border-radius: .24rem;
            }
        }
        .hot_search__delete {
            position: absolute;
            top: .06rem;
            right: .04rem;
            width: .4rem;
            height: .4rem;
            .hot_search__icon_delete {
                display: block;
                width: .16rem;
                height: .16rem;
                margin: .12rem;
                fill: currentColor;
            }
        }
    }
}